*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: docsFont;
    src: url(Fonts/Moon\ Light.otf);
}

@font-face{
    font-family: navFont;
    src: url(Fonts/Ubuntu-Regular.ttf);
}
@font-face{
    font-family: navFon2;
    src: url(Fonts/Ubuntu-Bold.ttf);
}
@font-face{
    font-family: textFont;
    src: url(Fonts/Ubuntu-Bold.ttf);
}
@font-face{
    font-family: textsFont;
    src: url(Fonts/Ubuntu-Light.ttf);
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 9;
   
}

.logo{
    height: 80px;
    width: 100px;
    
}
.logo img{
    width: 100%;
    height: 100%;

}

.nav-links{
    padding-left: 10px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 100px;
   
    
}

ul li{
    list-style: none;
    font-size: 1rem;
    
}

ul li a{
    text-decoration: none;
    font-family: navFont;
    color: rgb(32,57,114);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 10px 20px;
    
    
    border-radius: 5px;
}

ul li a:hover{
  color: rgb(4,170,233);;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: rgb(12, 25, 54);
    border-radius: 8px;
    transition: all 0.3s ease;
}

.about-header{
    height: 300px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-header img{
    width: 30%;
    height: 250px;
    margin-right: 80px;

}

.abt-messages{
    height: 300px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 40px;
    margin-left: 50px;
}

h2{
    font-family: sans-serif;
    font-family: navFont;

}

.about-us{
     height: 50px;
     width: 30%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.about-us div{
    background-color: rgb(32,57,114);
    height: 2px;
    width: 130px;
    margin-top: 2px;
}

.about-us div:nth-child(3){
    width: 80px;
}


span{
    width: 70%;
    font-size: 19px;
    font-family: textsFont;
}

.about-header button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(32,57,114);
    border-radius: 30px;
    color: white;
    border: none;
    font-family: navFon2;
}

.head{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.message{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 40px;
}
.message h2{
    height: 150px;
    width: 90%;
    padding: 25px;
    padding-left: 20px;
    font-size: 35px;
}
.message button{
    padding: 12px 30px;
    background-color: rgb(32,57,114);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    margin-left: 12px;
    font-family: navFon2;
}

.head img{
    margin: 0px;
    width: 65%;
    height: 300px;
    margin-right: 20px;
    animation-name: move;
    animation-timing-function:linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    transition: 1s;
}


.spans{
    font-size: 30px;
    color: white;
    background-color: rgb(32,57,114);
    padding: 5px;
    border-radius: 5px;
    font-family: navFon2;


}

.spans2{
    height: 100px;
    width: 80%;
    font-size: 18px;
    padding: 5px;
}

hr{
    border-top-width: 10px;
    margin-left: 38%;
    width: 20%;
    border-top-style:dotted;
    border-top-color: rgb(32,57,114);
    margin-top: 30px;
    background-color: white;
}


.footer{
    background-color:rgb(12, 25, 54);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   }
   
   .links{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
   }
   
   .link{
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   }
   
   .two{
     margin-right: 50px;
   }
   
   .link div{
    color: white;
    font-family: navFont;
    font-size: 15px;
    height: 35px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: navFont;
   
   }
   .link span{
    color: white;
    font-weight: bolder;
    font-family: navFon2;
    font-size: 20px;
   }
   .link div:nth-child(1){
    width: 70%;
    height: 70px;
   }
   .icons{
    height: 80px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }
   
   .icons i{
    font-size: 25px;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
   }
   .icons i:hover{
    transform: scale(1.2);
    
   }
   
   footer{
    height: 60px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   }
   
   footer div{
    color: white;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: navFon2;
   }
   
@keyframes move {
   0%{
      
       transform: translateY(50px);
   }

   25%{
       transform: translateY(25px);
   }
   100%{
    transform: translateY(0px);
   }
    
}


@media (max-width: 700px) {
    .about-header{
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 650px;
        
    }

    .abt-messages{

        height: 300px;
        width: 90%;
        margin-right: 0px;
        padding-left: 0px;
        margin-left: 0px;
    }

    span{
        width: 100%;
        font-size: 20px;
    }

    .about-header img{
        width: 360px;
        margin-bottom: 20px;
        height: 280px;
        margin-right: 0px;
    }
    
}


@media (min-width: 700px) {

    .head{
        flex-direction: row;
        justify-content: space-between;
        height: 300px;

    }

    .head img{
        width: 30%;
        height: 300px;

    }

    .message{
        height: 60%;
        padding-left: 0px;
        margin-left: 50px;
    }
    
}



@media (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    nav{
        justify-content: space-between;
    }
    .nav-links{
       
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 100px;
        background-color: rgb(12, 25, 54);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 9;
        padding-right: 0px;
        
        
    }

    .nav-links li{
        opacity: 0;
        
    }
    .nav-links li a{
        color: white;
        font-size: 20px;
    }
    .burger{
        display: block;
        margin-right: 30px;
    }

    .nav-active{
        transform: translateX(0);
    }


    @keyframes nav-link-fade {
        from{
            opacity: 0;
            transform: translateY(- 50px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
            
        }
        
    }

    .toggle .line1{
      transform: rotate(-45deg) translate(-5px, 6px);

    }

    .toggle .line2{
        opacity: 0;

    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);

     }

     .links{
        height: 700px;
        flex-direction: column;
    }
    .linker img{
        height: 100px;
        width: 120px;
    }

    .linker div{
        height: 120px;
        width: 100%;
        justify-content: space-evenly;
    }

    .footer{
        height: 800px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    footer div{
            font-size: 14px;
            margin-top: 20px;
    }
 }

 @media (min-width: 700px) {
    .links{
        flex-direction: row;
    }

    .link{
        width: 40%;
    }
    .icons{
        width: 20%;
    }
    .footer{
        height: 300px;
    }

    footer{

        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 15px;
        font-family: navFon2;
    }

    .foot-head span{
        font-size: 35px;
        color: white;
    }

    .two{
        margin-right: 0px;
    }

    .linker div{
        width: 70%;
        height: 70px;
        font-size: 20px;
        transition: ease 0.9s;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        

    }

    .linker img{
        height: 130px;
        width: 200px;
    }

    .linker{
        height: 260px;
    }


    .homie::after{
        content: " ";
        display: block;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width .5s;
        margin-left: 2px;
    }
  
    .homie:hover::after{
        width: 100%;
        transition: width .5s;
    }
     
 }

